.containers {
  height: 100vh;
  width: 100%;
  background-color: #e0f7fa; 
}

.top {
  height: 10%;
  width: 100%;
  background-color: #ff5722; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.middle {
  height: 80%;
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 25%;
  background-color: #ffeb3b; 
  position: relative;
}

.middlecenter {
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color:black;
}

.right {
  height: 100%;
  width: 25%;
  background-color: #4caf50; 
  position: relative;
}

.bottom {
  height: 10%;
  width: 100%;
  background-color: #2196f3; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parentEl {
  position: relative;
  height: 100%;
}

.button {
  margin-top: 20px; 
  padding: 10px 20px; 
  background-color:orange; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  color:white; 
  width: 20%;
  height: 10%;
}
